@mixin breakpoint-phone {
    @media screen and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin breakpoint-tablet {
    @media screen and (max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin breakpoint-pc {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin breakpoint-custom($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}