@import "/src/styles/base";

.input-group {
    position: relative;
    width: 100%;

    margin-bottom: 30px;
}

input, textarea {
    resize: vertical;
    transition: 
        border-color $link-transition,
        background-color $link-transition,
        color $link-transition;

    background-color: $color-black-transparent;
    color: $color-white;

    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    padding: 25px 20px 10px;
    width: calc(100% - 44px);
    border: 2px solid $color-white;
    outline: none;


    &+label {
        transition: 
            top $link-transition, 
            font-size $link-transition, 
            font-weight $link-transition,
            color $link-transition;

        position: absolute;
        top: 20px;
        left: 22px;

        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        color: $color-white;
    }

    border-radius: 10px;
    &:focus, &:focus-visible {
        border-radius: 10px;
        color: $color-white-hg;
        border-color: $color-white-hg;
        background-color: $color-black-hg-transparent
    }

    &:hover {
        border-radius: 10px;
        color: $color-white-hg;
        border-color: $color-white-hg;
        background-color: $color-black-hg-transparent
    }

    &:not(:placeholder-shown)+label,
    &:focus+label {
        top: 12px;
        font-size: 15px;
        font-weight: 500;
    }

    &:hover+label {
        color: $color-white-hg;
    }
}