@import "../../styles/base.scss";
@import "../button/index.scss";

div.cookie-container {
  position: fixed;
  bottom: 0;

  display: flex;
  background-color: $color-black;

  width: calc(100% - 40px);
  padding-block: 10px;

  @media screen and (min-width: 1400px) {
    max-width: 1400px;
    padding-inline: calc((100% - 1400px) / 2);
  }

  &-content {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: $color-white-hg;
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }

    #rcc-decline-button {
      @extend .danger, .small;
    }

    #rcc-confirm-button {
      @extend .success, .small;
    }
  }

  @media screen and (max-width: $breakpoint-mobile) {
    display: block;
    text-align: center;

    &-buttons {
      margin-block-start: 20px;
      justify-content: center;
    }
  }
}