@import "src/styles/base";

.home-short-about {
    position: relative;

    &:before {
        transition:
            bottom $link-transition,
            right $link-transition;

        position: absolute;
        bottom: -250px;
        right: -100px;

        @include breakpoint-tablet() {
            bottom: -390px;
            right: 0;
        }

        @include breakpoint-phone() {
            bottom: -450px;
            right: 0;
        }

        content: "";
        background-image: url("../../assets/shopware_logo_vertical_blue.svg");
        background-repeat: no-repeat;

        width: min(80%, 600px);
        height: 600px;

        opacity: 0.5;
    }

    &-bg {
        background: linear-gradient(-30deg, $color-white, $color-white-hg);
        overflow: hidden;
    }

    padding-top: 40px;
    padding-bottom: 60px;

    h1 {
        font-weight: 600;
        font-size: 50px;
        line-height: 100%;
        text-indent: 20px;

        margin: 0;
        margin-bottom: 40px;
    }

    p {
        text-align: justify;
        margin: 0;
        font-size: 22px;
        line-height: 140%;
        margin-bottom: 20px;
        text-indent: 20px;

        &:last-child {
            margin-bottom: 0;
            @include breakpoint-tablet() {
                margin-bottom: 20px;
            }
        }
    }

    a {
        color: $color-black;
        text-decoration: underline;

        &:hover {
            color: $color-black-hg;
        }
    }

    @include breakpoint-pc() {
        .hello-heading {
            width: calc(50% - 20px);
        }
    }
}