@import "src/styles/base";

@mixin button-variant($color-normal, $color-background-normal, $color-hover, $color-hover-background) {
    border: 3px solid $color-normal;
    background-color: $color-background-normal;
    color: $color-normal;
    border-radius: 10px;

    &.small {
        border-width: 2px;
    }

    &:hover {
        border-radius: 20px;
        color: $color-hover;
        border-color: $color-hover;
        background-color: $color-hover-background;
    }

    @include breakpoint-tablet() {
        border-width: 2px;
    }

    @include breakpoint-phone() {
        border-width: 1px;
    }
}

button {
    text-align: center;

    &.full-width {
        width: 100%;
    }

    &.small {
        font-size: 16px;
        font-weight: 600;
        padding: 5px 10px;
        line-height: 100%;
    }

    &.normal {

    }

    &.big {
        font-size: 22px;
        font-weight: 600;
        padding: 15px 30px;

        @include breakpoint-tablet() {
            font-size: 20px;
            padding: 8px 16px;
        }
    }

    &.primary {
       @include button-variant($color-white, $color-black-transparent, $color-white-hg, $color-black-hg-transparent);
    }

    &.danger {
        @include button-variant($color-red, $color-black-transparent, $color-red-hg, $color-black-hg-transparent);
    }

    &.success {
        @include button-variant($color-green, $color-black-transparent, $color-green-hg, $color-black-hg-transparent);
    }

    &.plugin {
        border: 3px solid transparent;
        background-color: transparent;
        color: $color-black;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        &:hover {
            border-radius: 20px;
            color: $color-black-hg;
            border-color: transparent;
            background-color: #0003;
        }

        @include breakpoint-tablet() {
            border-width: 2px;
        }

        @include breakpoint-phone() {
            border-width: 1px;
        }
    }

    transition: 
        border-color $link-transition, 
        color $link-transition, 
        background-color $link-transition,
        border-radius $link-transition;

    &:hover {
        cursor: pointer;
    }
}