@import "/src/styles/base";

.columns {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1 1 0px;
    margin-left: 20px;
    margin-right: 20px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

@include breakpoint-tablet() {
    .columns.collapse > .column {
        flex: unset;
        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }
}