@import "/src/styles/base";

.plugin {
    padding-top: 80px;
    padding-bottom: 80px;

    &-bg {
        background: linear-gradient(45deg, $color-white, $color-white-hg);

        &:nth-child(2n) {
            background: linear-gradient(calc(-45deg - 270deg), $color-white, $color-white-hg);
        }
    }

    &-columns>.column {
        flex: unset;
        margin: 0;

        &:first-child {
            width: calc(20% - 20px);
            padding-right: 20px;
        }

        &:last-child {
            width: calc(80% - 20px);
            padding-left: 20px;
        }
    }

    &-inverted .plugin-columns>.column {
        &:first-child {
            order: 1;
            padding-left: 20px;
            padding-right: 0;

            @include breakpoint-tablet() {
                padding: 0;
            }
        }

        &:last-child {
            order: 0;
            padding-left: 0;
            padding-right: 20px;

            @include breakpoint-tablet() {
                padding: 0;
                margin-top: 40px;
                order: 2;
            }
        }
    }

    p {
        margin: 0;
        font-size: 20px;
        margin-bottom: 0px;
    }

    p.lead {
        margin: 0;
        margin-bottom: 20px;
        font-size: 36px;
    }

    &-logo {
        position: -webkit-sticky;
        position: sticky;
        top: 90px;

        &>img {
            padding: 0px 22px;

            width: calc(100% - 44px);
            height: auto;

            border-radius: 20px;
            background: linear-gradient(-145deg, #eee, #fff);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
    }

    &-headline {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 40px;
        padding-inline: 30px;
    }

    &-description {
        padding-inline: 30px;
        margin-bottom: 60px;
        text-align: justify;
    }

    &-button {
        width: 100%;

        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 80px;
        }
    }

    &-highlights,
    &-configuration {
        border-radius: 20px;
        padding: 20px 30px;
        background: linear-gradient(-145deg, #eee, #fff);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        margin-bottom: 80px;

        p {
            margin-bottom: 10px;
        }
    }

    &-youtube {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;

        &>div {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;

            iframe {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            }
        }
    }

    @include breakpoint-tablet() {
        &-columns>.column {
            width: 100% !important;
        }

        &-logo>img {
            padding: 0;
            background: transparent;
            box-shadow: none;
            margin-inline: auto;
            max-width: 300px;
            display: block;
        }

        .column:not(&-highlights, &-configuration) {
            padding: 0 !important;
        }
    }

    @include breakpoint-phone() {
        &-headline {
            font-size: 30px;
            margin-bottom: 20px;
            padding-inline: 0;
        }

        &-description {
            padding-inline: 0;
            margin-bottom: 40px;
            text-align: justify;
        }
    }
}

.infinity-plugin-logo>img {
    padding-top: 20px;
    background: white;
    padding-bottom: 20px;
}