@import "/src/styles/base";

div.container {
    max-width: min(1400px);
    padding-left: 50px;
    padding-right: 50px;

    @include breakpoint-phone() {
        padding-left: 20px;
        padding-right: 20px;
    }

    margin-inline: auto;
}