body,
textarea {
    &::-webkit-scrollbar {
        &-track {
            background-color: $color-black;
        }

        width: 5px;
        -webkit-border-radius: 10px;
        border-radius: 10px;

        &-thumb {
            -webkit-border-radius: 20px;
            border-radius: 20px;
            background-color: $color-white;
        }
    }

}

body {
    &::-webkit-scrollbar {
        width: 10px;

        -webkit-border-radius: 0px;
        border-radius: 0px;

        &-thumb {
            -webkit-border-radius: 0px;
            border-radius: 0px;
        }
    }
}

textarea {
    &::-webkit-scrollbar {
        margin-top: 20px;
        border-right: 2px solid $color-white;

        &-track {
            border-radius: 12px;
        }

        border-radius: 12px;
    }
}