//Variables
$color-black: #000116 !default;
$color-black-hg: #101126 !default;
$color-black-transparent: #00011644 !default;
$color-black-hg-transparent: #10112688 !default;
$color-white: #ccc !default;
$color-white-hg: #fff !default;
$color-white-transparent: #ccc8 !default;
$color-white-hg-transparent: #fffa !default;
$color-green: #03AC13;
$color-green-hg: #03CC13;
$color-red: #CC143C;
$color-red-hg: #FC143C;

$link-transition: 200ms ease-in !default;

$breakpoint-pc: 1200px !default;
$breakpoint-tablet: 800px !default;
$breakpoint-mobile: 400px !default;

@import "fonts";

//Toastify
@import "toastify";

//Base css.
@import "body";
@import "scrollbar";

//Mixins
@import "mixin/mobile";