@import "src/styles/base";

.footer {
  background-color: $color-black-hg;
  color: white;

  .column {
    margin: 20px;
  }

  &-columns {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 40px 20px;

    text-align: center;

    .nav-title {
      display: inline-block;

      font-size: 30px;
      font-weight: 600;
      margin-bottom: 15px;
      margin-top: 0;

      position: relative;

      &:before {
        content: "";

        background-color: $color-white;
        width: 100%;
        height: 3px;
        border-radius: 3px;

        position: absolute;
        left: 0;
        bottom: -5px;
      }
    }

    a {
      display: block;
      font-size: 25px;
      font-weight: 400;
      line-height: 200%;
    }
  }

  .copyright {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 15px;
    font-weight: 200;

    background-color: $color-black;
  }
}