@import "src/styles/base";

$line-extend-past: 5%;
$line-extend-past-abs: 110px;

.home-banner {
  width: calc(100% - 200px);
  height: 400px;

  background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../../assets/home-banner-bg.webp");
  background-size: 100% auto;
  background-position: 0 -300px;
  background-attachment: fixed;
  background-repeat: none;

  color: white;

  padding-top: 200px;
  padding-left: 100px;
  padding-right: 100px;

  &-inner {
    max-width: 454px;
  }

  &-lead {
    font-size: 80px;
    line-height: 110%;
    font-weight: 300;
    margin: 0;
  }

  &-sub {
    &-below {
      margin-top: 40px;
      text-align: left;
    }

    display: inline-block;

    color: #ddd;
    font-size: 40px;
    line-height: 110%;
    font-weight: 500;
    margin: 0;

    position: relative;

    &:before {
      content: "";
      width: calc(100% + $line-extend-past-abs + $line-extend-past + $line-extend-past);
      height: 5px;
      border-radius: 5px;
      background-color: $color-white-hg;

      position: absolute;
      bottom: -23px;
      left: -$line-extend-past;
    }
  }

  @include breakpoint-tablet() {
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% - 60px);
    background-size: auto calc(100% + 300px);

    &-lead {
      font-size: 40px;
      margin-bottom: 5px;
    }

    &-sub {
      font-size: 20px;

      &-below {
        margin-top: 20px;
      }

      &:before {
        content: none;
      }
    }

    button.full-width {
      width: unset;
    }
  }
}