@import "/src/styles/base";

div.contact-me {
    color: $color-white;

    padding-top: 60px;
    padding-bottom: 60px;
    margin-inline: auto;
    max-width: 800px;

    text-align: center;
    h1 {
        font-weight: 300;
        font-size: 64px;

        margin: 0;
    }

    &-bg {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/contact-me-bg.webp");
        background-size: 100% auto;
        background-position: 0 -800px;
        background-attachment: fixed;

        @include breakpoint-custom(1200px) {
            background-size: auto calc(100% + 800px);
        }
    }

    .columns {
        margin-top: 60px;
        margin-bottom: 10px;
    }

    textarea {
        height: 212px;
    }
}