@import "src/styles/base";

.header {
  width: calc(100%);
  padding: 10px 0px;

  z-index: 100;

  position: sticky;
  top: 0;

  background: $color-black;

  &-inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &>.header-actions {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;

      &>a {
        margin-left: 20px;
        margin-right: 20px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        font-size: 20px;
        font-weight: 500;
      }
    }

    .logo {
      padding: 0;
      background: transparent;
      border: none;
      color: $color-white;

      display: block;
      font-size: 30px;
      font-weight: 800;
      letter-spacing: 2px;

      transition: transform $link-transition, color $link-transition;

      &:hover {
        color: $color-white-hg;
        transform: rotateZ(-5deg);
      }
    }

    .button {
      margin-left: 10px;
    }
  }
}