@import "src/styles/base";

a {
  color: $color-white;
  transition: color $link-transition;
  text-decoration: none;

  &:hover, &.active {
    text-decoration: none;
    color: $color-white-hg;
  }
}

a.hover-underline {
  position: relative;
  display: block;

  &:before {
    content: "";
    width: 0;
    height: 3px;
    background-color: $color-white;
    border-radius: 3px;

    position: absolute;
    bottom: -12px;
    left: -5px;

    transition: width $link-transition, background-color $link-transition;
  }

  &:hover:before, &.active:before {
    background-color: $color-white-hg;
    width: calc(100% + 10px);
  }
}